<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <script defer src="{{ url_for('static', filename='image_process.js') }}"></script>
        <title>画像処理</title>
    </head>
    <body>
        <h1>ファイルをアップロード</h1>
        <form method = "POST" enctype = multipart/form-data>
        <p><input type=file name = file>
        <input type = submit value = "アップロード">
        <h2>{{ result_message }}</h2>
        </form>

        <h1>今までに処理した画像</h1>
        <table id="view_images" width="90%" align="center">
            <tr>
                <th>元画像</th>
                <th>モザイク</th>
                <th>枠で囲う</th>
                <th>輪郭抽出</th>
                <th>グレースケール</th>
                <th>2値化</th>
            </tr>
        </table>
    </body>
</html>